body{
    background-image: url("/images/sighting.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}


.form-group{
    color: yellow;
    font-size: 25px;

}
