{{#partial "styles"}}

<link rel='stylesheet' href='/css/about.css'>

{{/partial}}

{{#partial "content"}}

    <div class="card-deck">
        <!-- First Card -->
        <div class="card">
            <img src="/images/endagered2.jpg">
            <div class="card-title">Regular Animals</div>
            <div><a href="/animalform" class="white-text">Add Regular animal</a></div>
        </div>
        <!-- Second Card -->
        <div class="card">
            <img src="/images/endagered-animals.jpg">
            <div class="card-title">Endangered Animals</div>
            <div><a href="/endangeredanimalform" class="white-text">Add Endangered Animal</a></div>
        </div>
        <div class="card">
            <img src="/images/endagered3.jpg">
            <div class="card-title">Sightings</div>
            <div><a href="/sightingsform" class="white-text">Record Sighting</a></div>
        </div>
    </div>

{{/partial}}

{{> index.hbs}}