{{#partial "styles"}}

    <link rel='stylesheet' href='/css/animalform.css'>

{{/partial}}

{{#partial "content"}}


        <div class="form">
            <h1><strong>Add Animal:  </strong></h1>
                <div class="row">
                    <div class="form1">
                        <div class="content">
                            <form action="/animals" method="post">
                                <div class="form-group">
                                    <label for="name">Animal Name:</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                                <button class="btn btn-info " type="submit" name="add-animal">Add</button>
                            </form>

                        </div>
                    </div>
                </div>
        </div>

{{/partial}}


{{> index.hbs}}

