{{#partial "styles"}}

    <link rel='stylesheet' href='/css/sightings.css'>

{{/partial}}

{{#partial "content"}}

    <div class="card-deck">
            <div class="card">
                <div class="col-md-12 mb-4 white-text text-center">
                    <h3 class="text-warning text-uppercase font-weight-bold mb-5 pt-md-5 pt-0 animated wobble"><strong> Sightings: </strong></h3>
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-4">
                            <a href="/sightingsform"><button type="button" class="btn btn-info">Add Sighting</button></a>
                            <h3 class="hr-light text-monospace stylistsTitle text-warning">All Sightings:</h3>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{{/partial}}

{{> index.hbs}}